name: CD Pipeline

on:
  push:
    tags:
      - 'v*'  # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push API
      uses: docker/build-push-action@v4
      with:
        context: .
        file: docker/Dockerfile.api
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/fraud-detection-api:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/fraud-detection-api:${{ github.ref_name }}

    - name: Build and push Streaming
      uses: docker/build-push-action@v4
      with:
        context: .
        file: docker/Dockerfile.streaming
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/fraud-detection-streaming:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/fraud-detection-streaming:${{ github.ref_name }}